extends templates/base
block page
	script(type="text/javascript" src='../node_modules/bulma-extensions/bulma-accordion/dist/js/bulma-accordion.min.js')

	include command_data.pug
	.section.hero.is-textured
		.container
			h1.title.has-text-light Commands for Miki
	.section.container.content
		.section
			h3 Looking for something..?
			p.control.has-icons-left
				input.input(placeholder="search...")
				span.icon.is-small.is-left
					i.fas.fa-search
		.columns
			.column.is-3.modules
				h3 Modules
				each m in modules
					label.control.has-icons-left.button(style="width: 100%;")
						p.has-text-centered.is-marginless=m.name
						span.icon.is-left
							input(type="checkbox")
			section.column.accordions
				each m in modules
					each c in m.commands
						article.accordion(class=m.name)
							.accordion-header.toggle
								.level
									h3.seperated.has-text-white >#{c.name}
									if c.aliases
										i or #{c.aliases.join(", ")}	
							.accordion-content
								section.is-small.section.accordion-body
									p=c.description
									h5 Usage
									each u in c.usages
										.is-grouped
											h6 #{u.usage}
											if u.description
												p #{u.description}
										if u.parameters
											br
											each p in u.parameters
												if p.required
													p #[a.tag.is-primary required] #[b=p.name] - #{p.description}
												else
													p #[b=p.name] - #{p.description}
										br

	script
		include ../js/commands.ts